{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}
	
{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1><a href="{{ url_for('blog.post_single', id=post['id']) }}">{{ post['title'] }}</a></h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <!--<p class="body">{{ post['body'] }}</p>-->
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <hr>
  <a href="{{ url_for('blog.index', id=	1) }}">NextPage</a>
{% endblock %}
