{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <label for="title_search">Search for Title</label>
    <input name="title_search" id="title_search" required>
    <input type="submit" value="Search">
  </form>
{% endblock %}

